  p {
    font-family: Roboto;
    margin-top: 15;
    margin-bottom: 15;
  }
    .title {
        font-weight: bold;
        font-size: 18px;
        width: 300px;
        line-height: 25px;
    }
    .date {
        font-size: 14px;
        color: rgb(60, 60, 60);
    }
        .do {
        font-size: 14px;
        color: rgb(60, 60, 60);
    }
    .dis {
      color: rgb(60, 60, 60);
      width: 300px; 
      line-height: 22px;
    }
    .link {
      color: rgb(255, 255, 255); 
      margin-bottom: 20;
      font-size: 16px;
      background-color: rgb(227, 65, 64);
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
      margin-left: 2px;
    }
    .att:hover {
      text-decoration: underline;
      cursor: pointer;
    }