.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;

}
.youtube-logo {
    height: 20px;
    margin-left: 20px;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    max-width: 500px;
    align-items: center;
}
.search{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
    width: 0;
}
.search::placeholder{
    font-family: Arial;
    font-size: 16px;
}
.search-button {
    height: 40px;
    width: 60px;
    background-color: rgb(223, 223, 223);
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-right: 10px;
}
.search-icon {
    height: 25px;
    margin-top: 4px;
    border-width: 1px;
    border-style: style;
    border-color: grey;
}
.voice-icon {
    margin-top: 2px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(241, 237, 237);
}

.right-section {
    width: 180px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.add {
    height: 24px;
}
.prof {
    height: 32px;
    border-radius: 20px;
    margin-right: 20px;
}